<h3><%= t('Welcome') %></h3>
<p><%= link_to t('Users'), users_path %> <%= User.count %> <%= t('registered') %></p>
<p><%= link_to t('Flights'), flights_path %> <%= Flight.count %> </p>
<p><%= link_to t('Tours'), tours_path %> <%= Tour.count %> </p>
