<div class="container">
  <div class="content">
    <svg viewBox="0 0 900 300">
      <!-- Symbol with text -->
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text--line">Hide</text>
      </symbol>

      <!-- Clippath  with text -->
      <clipPath id="cp-text">
        <text text-anchor="middle" x="50%" y="50%" dy=".35em" class="text--line">Pay Travel</text>
      </clipPath>

      <!-- Group for shadow -->
      <g clip-path="url(#cp-text)" class="shadow">
        <rect width="100%" height="100%" class="anim-shape anim-shape--shadow"></rect>
      </g>

      <!-- Group with clippath for text-->
      <g clip-path="url(#cp-text)" class="colortext">
        <!-- Animated shapes inside text -->
        <rect width="100%" height="100%" class="anim-shape"></rect>
        <rect width="80%" height="100%" class="anim-shape"></rect>
        <rect width="60%" height="100%" class="anim-shape"></rect>
        <rect width="40%" height="100%" class="anim-shape"></rect>
        <rect width="20%" height="100%" class="anim-shape"></rect>
      </g>

      <!-- Transparent copy of text to keep patterned text selectable -->
      <use xlink:href="#s-text" class="text--transparent"></use>

    </svg>
  </div>
</div>
<br>
<h3><%= t('Welcome') %></h3>
<p><%= link_to t('Users'), users_path %> <%= User.count %> <%= t('registered') %></p>
<p><%= link_to t('Flights'), flights_path %> <%= Flight.count %> </p>
<p><%= link_to t('Tours'), tours_path %> <%= Tour.count %> </p>
